$colour-primary: #f6f6f6;
$colour-button: #ffff;
$colour-button-purple: #9356DC;
$colour-btn-purple: #f5edff;
$colour-button-pink:#FF79DA;
$colour-header: #eaeaea;
$colour-footer: #353535;
$colour-tertiary: #99E2D0;