//*Les likes*/
.like {
    position: absolute;
    right: 8%;
    .far{
        font-size: 20px;
    }
    &:hover .fas {
        font-size: 16px;
        transform-origin: bottom;
        transition: transform 400ms;
        transform: scaleX(1);
    }
    .fas {
        color: $colour-button-purple;
        position: absolute;
        margin-top: 1px;
        right: 10%;
        transform: scaleX(0);
    }
}
//*le bouton Check*/

.check{
    transform-origin: 100%;
    transform: scaleX(0);
    transition: transform 1000ms;
}
.fas.fa-check-circle{
    transform: rotate(-360deg);
    transition: transform 1000ms ease-in-out;
}
.entrees{
    &:hover{
        & > .check.e{
            transform: scaleX(1);        
            & .fas.fa-check-circle{
                transform: rotate(0deg);
            }
        }
    }
 }
.plats{
    &:hover{
        & > .check.p{
            transform: scaleX(1);
            & .fas.fa-check-circle{
                transform: rotate(0deg);
            }
        }
    }
}
.desserts{
    &:hover{
        & > .check.d{
            transform: scaleX(1);
            & .fas.fa-check-circle{
                transform: rotate(0deg);
            }
        }
    }
}
