//*Les likes*/
.like {
    position: absolute;
    right: 8%;
    .far{
        font-size: 20px;
    }
    &:hover .fas {
        font-size: 16px;
        transform-origin: bottom;
        transition: transform 400ms;
        transform: scaleX(1);
    }
    .fas {
        color: $colour-button-purple;
        position: absolute;
        margin-top: 1px;
        right: 10%;
        transform: scaleX(0);
    }
}
//*le bouton Check*/

.check{
    transform-origin: 100%;
    transform: scaleX(0);
    transition: transform 1000ms;
}
.fas.fa-check-circle{
    transform: rotate(-360deg);
    transition: transform 1000ms ease-in-out;
}
.entrees{
    &:hover{
        & > .check{
            transform: scaleX(1);        
            & .fas.fa-check-circle{
                transform: rotate(0deg);
            }
        }
    }
}

.plats{
    &:hover{
        & > .check{
            transform: scaleX(1);
            & .fas.fa-check-circle{
                transform: rotate(0deg);
            }
        }
    }
}
.desserts{
    &:hover{
        & > .check{
            transform: scaleX(1);
            & .fas.fa-check-circle{
                transform: rotate(0deg);
            }
        }
    }
}
//*écran de chargement*/
#loading{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: $colour-primary;
    text-shadow: 1px 5px 15px grey;
    @include flex-box-button;
    font-family: 'Shrikhand';
    font-size: 40px;
    z-index: 7;
    animation: flash 3s linear infinite;
}
@keyframes flash{
    0%{
        font-size: 40px;
    }
    50%{
        font-size: 43px;
        text-shadow: 1px 10px 15px grey;
    }
    100%{
        font-size: 40px;
    }
}
.fondu-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}