#logo-principal{
    display: flex;
    justify-content: center;
    img {
        width: 50%;
        padding-bottom: 2%;
        margin-top: 10px;
    }
}

.retour
{
    display: flex;
    justify-content: left;
    margin-left: 20px;
    font-size: 95%;
}

#lieu{
    text-align: center;
    font-size: 90%;
    background-color: $colour-header;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
}
#reservation{
    @include flex-box-column;
    align-items: center;
    background-color: $colour-primary;
    padding: 15% 0%;
        h1{
            text-align: center;
            font-size: 22px;
            margin: 0px 60px;
        }
        p{
            text-align: center;
            font-size: 18px;
        }
}

.explorer{
    @include flex-box-button;
    font-weight: bold;
    color: $colour-button;
    @include double-colour;
    font-family: 'Roboto-thin';
    border-radius: 75px;
    box-shadow: 1px 1px 3px grey;
    font-size: 13px;
    width: 55%;
    height: 40px;
}
.fonction{
    font-size: 25px;
    margin-left: 10px;
}
#boutonFonction{
    @include flex-box-column;
    align-items: center;
    margin-bottom: 50px;
    & .bouton{
        @include flex-box-text;
        @include button-shadow;
        border-radius: 15px;
        margin: 0;
        font-size: 14px;
        font-family: 'Roboto-bold';
        width: 85%;
        height: 40px;
        padding: 10px;
        margin-bottom: 10px;
    }
    & span{
        position: absolute;
        left: 8px;
        text-align: center;
        background-color: $colour-button-purple;
        color: $colour-primary;
        font-size: 13px;
        border-radius: 50%;
        text-align: center;
        padding-top: 3px;
        width: 21px;
        height: 20px;
    }
    & .fas.fa-mobile-alt , .fas.fa-list-ul {
        text-align: center;
        color:grey;
    }
    & .fas.fa-store{
        text-align: center;
        color: $colour-button-purple;
    }
}

.bouton.btn--voilet{
    background-color: $colour-btn-purple;
}
#menu-bis{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 10px;
    .retour{
        margin-left: 15px;
        font-size: 15px;
        color: gray;
    }
    #logo-principal{
        width: 100%;
        margin-right: 10%;
    }
}