@media screen and (min-width: 500px) and (max-width: 768px){
    #logo-principal{
        img{
            width: 40%;
        }
    }
    #boutonFonction{
        .bouton{
            width: 80%;
            height: 40px;
            font-size: 18px;
        }
        span{
            position: absolute;
            left: 26px;
        }
        .fas.fa-mobile-alt , .fas.fa-list-ul , .fas.fa-store{
            font-size: 20px;
        }
    }
    #restaurant{
        .nouveau{
            &--bis{
                position: absolute;
                right: 400px;
            }
        }
        .like{
            &--bis{
                position: absolute;
                right: 418px;
            }
        }
    }
    
    footer{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    #menu{
        font-size: 15px;
        #logo-principal{
            & img{
                width: 30%;
            }
        }
    }
    #menu-bis{
        display: flex;
        justify-content: space-between;
        & #logo-principal{
            margin-right: 8em;
            width: 70%;
        }
        
    }
    #boutonFonction{
        display: flex;
        flex-direction: row;
        & .bouton{
            width: 45%;
            height: 40px;
            margin-left: 10px;
            font-size: 12px;
        }
        & span{
            position: static;
        }
        & .fas.fa-mobile-alt , .fas.fa-list-ul , .fas.fa-store{
            font-size: 18px;
        }
    }
    #restaurant{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        & .nouveau{
            position: absolute;
            right: 60px;
            &--bis{
                position: absolute;
                right: 530px;
            }
        }
        .like{
            &--bis{
                position: absolute;
                right: 550px;
            }
        }
    }
    .menu{
        width: 45%;
    }
    
    footer{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
}
@media screen and (min-width: 1024px){
    body{
        margin: 0;
    }
    .logo-principal{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    #boutonFonction{
        display: flex;
        flex-direction: row;
        & .bouton{
            width: 45%;
            height: 40px;
            margin-left: 10px;
            font-size: 12px;
        }
        & span{
            position: static;
        }
        & .fas.fa-mobile-alt , .fas.fa-list-ul , .fas.fa-store{
            font-size: 18px;
        }
    }
    #restaurant{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .nouveau{
            width: 13% ;
            position: absolute;
            right: 70px;
            &--bis{
                position: absolute;
                right: 52%;
            }
        }
        .like{
            &--bis{
                position: absolute;
                right: 55%;
            }
        }
    }
    .menu{
        font-size: 20px;
        width: 45%;
        margin: 15px 15px;
    }
       
    footer{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}