@media screen and (min-width: 500px) and (max-width: 768px){
    #logo-principal{
        img{
            width: 40%;
        }
    }
    #boutonFonction{
        .bouton{
            width: 80%;
            height: 40px;
            font-size: 18px;
        }
        span{
            position: absolute;
            left: 26px;
        }
        .fas.fa-mobile-alt , .fas.fa-list-ul , .fas.fa-store{
            font-size: 20px;
        }
    }
    #restaurant{
        .nouveau{
            &.--bis{
                position: absolute;
                right: 50px;
            }
        }
        .like{
            &.--bis{
                position: absolute;
                right: 50px;
            }
        }
    }
    
    footer{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    #menu{
        font-size: 15px;
        #logo-principal{
            & img{
                width: 30%;
            }
        }
    }
    #menu-bis{
        display: flex;
        justify-content: space-between;
        & #logo-principal{
            margin-right: 8em;
            width: 70%;
        }
        
    }
    #boutonFonction{
        display: flex;
        flex-direction: row;
        & .bouton{
            width: 45%;
            height: 40px;
            margin-left: 10px;
            font-size: 12px;
        }
        & span{
            position: static;
        }
        & .fas.fa-mobile-alt , .fas.fa-list-ul , .fas.fa-store{
            font-size: 18px;
        }
    }
    #restaurant{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        & .nouveau{
            position: absolute;
            right: 60px;
            &.--bis{
                position: absolute;
                right: 55%;
            }
        }
        .like{
            margin-right: -10px;
            &.--bis{
                position: absolute;
                right: 55%;
            }
        }
    }
    .menu{
        width: 45%;
    }
    
    footer{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
}
@media screen and (min-width: 1024px) and (max-width: 1500px){
    body{
        margin: 0;
    }
    #menu{
        font-size: 15px;
        & #logo-principal{
            & img{
                width: 25%;
            }
        }
    }
    #menu-bis{
        & .retour{
            font-size: 25px;
        }
        & #logo-principal{
            & img{
                width: 28%;
            }
        }
    }
    .title{
        & .nom-du-menu{
            margin-top: 45px;
            font-size: 45px;
        }
        & .like{
            & .far.fa-heart , .fas.fa-heart{
                font-size: 30px;
            }
        }
    }
    #boutonFonction{
        display: flex;
        flex-direction: row;
        & .bouton{
            width: 45%;
            height: 40px;
            margin-left: 10px;
            font-size: 12px;
        }
        & span{
            position: static;
        }
        & .fas.fa-mobile-alt , .fas.fa-list-ul , .fas.fa-store{
            font-size: 18px;
        }
    }
    #auMenu{
        & h2{
            width: 3%;
        }
    }
    #restaurant{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .nouveau{
            width: 13% ;
            position: absolute;
            right: 70px;
            &.--bis{
                position: absolute;
                right: 55%;                
            }
        }
        .like{
            &.--bis{
                position: absolute;
                right: 55%;
            }
        }
    }
    .menu{
        font-size: 20px;
        width: 45%;
        margin: 15px 15px;
    }
       
    footer{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
@media screen and (min-width: 1500px) and (max-width: 2560px){
    body{
        margin: 0;
    }
    #menu{
        font-size: 15px;
        & #logo-principal{
            & img{
                margin-top: 45px;
                width: 15%;
            }
        }
    }
    #menu-bis{
        & .retour{
            font-size: 25px;
        }
        & #logo-principal{
            & img{
                margin-top: 50px;
                width: 15%;
            }
        }
    }
    #boutonFonction{
        display: flex;
        flex-direction: row;
        & .bouton{
            width: 45%;
            height: 40px;
            margin-left: 10px;
            font-size: 12px;
        }
        & span{
            position: static;
        }
        & .fas.fa-mobile-alt , .fas.fa-list-ul , .fas.fa-store{
            font-size: 18px;
        }
    }
    .title{
        & .nom-du-menu{
            margin-top: 45px;
            font-size: 50px;
        }
        & .like{
            & .far.fa-heart , .fas.fa-heart{
                font-size: 40px;
            }
        }
    }
    #auMenu{
        & h2{
            width: 2%;
        }
    }
    #restaurant{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 80%;
        .nouveau{
            width: 10% ;
            position: absolute;
            right: 6%;
            &.--bis{
                position: absolute;
                right: 53%;
            }
        }
        .like{
            &.--bis{
                position: absolute;
                right: 55%;
            }
        }
    }
    .menu{
        font-size: 20px;
        width: 45%;
        margin: 15px 15px;
    }
       
    footer{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}