
@font-face
{
    font-family: 'Roboto';
    src: url(Police/Roboto/Roboto-Regular.ttf),
     url(Police/Roboto/Roboto-Medium.ttf);
}
body
{
    margin: 0;
    font-family: 'Roboto';
    }
    a
    {
        text-decoration: none;
        color: black;
    }
    /*Tête de page*/
    #menu
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 10px;
        border-bottom: 1px black solid;
        box-shadow: 1px 0px 5px;
    }
    #logo-principal img
    {
        width: 80%;
    }
    #retour
    {
        font-size: 50%;
    }
    
    /*Tête de page (accueil.)*/
    #lieu
    {
        text-align: center;
        font-size: 90%;
        background: #eaeaea;
        padding-top: 15px;
        padding-bottom: 15px;
        margin:0;
    }
    #reservation 
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #f6f6f6;
        padding-top: 5%;
        padding-bottom: 8%;
    }
    #reservation h3
    {
        font-weight: 600;
        font-size: 150%;
    }
    #reservation p
    {
        text-align: center;
        font-size: 110%;
    }
    .explorer
    {
        display: flex;
        align-items: center;
        font-weight: bold;
        color: white;
        background-color: #9356DC;
        border-radius: 100px;
        font-size: 80%;
        width: 200px;
        height: 40px;
    }

    #boutonFonction
    {
        display: flex;
        flex-direction: column;
    }
    #boutonFonction h2
    {
        font-weight: 600;
        font-size: 160%;
        margin-left: 5%;
    }
    .bouton
    {
        box-shadow: 1px 1px 10px;
        background-color: #f6f6f6;
        width: 70%;
        height: 60%;
        margin-bottom: 10px;
    }
    .bouton .fas
    {
        margin-right: 4%;
        color: grey
    }
    /*Photo du plat*/
    .imgBack
    {
        display: flex;
        object-fit: contain;
        width: 375px;
        height: 300px;
    }

